body {
    margin: 0;
    display: flex;
    align-items: center;
}

*  { font-family: "Jersey 10" }
h1 { font-size: 34px; }
h2 { font-size: 26px; }
h3 { font-size: 23px; }
.script p { font-size: 22px; line-height: 1.1; }
h1, h2, h3, p { margin: 0; }
h1 {color: black;}
h2 {color: blue;}
h3 {color: red;}


div#introductionScript {
    /* background-color: yellow; */
}

div#debriefingScript {
    /* background-color: cyan; */
}

div#disclaimerScript {
    /* background-color: red; */
}

div.script {
    /* note: we want 720px at most, and 420px at least */
    width: max(min(100vw, 720px), 400px);
    margin-top: 20px;
    margin-bottom: 20px;
}

div#content {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.centerMe {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}




canvas.gameView {
    touch-action: none;
}

#leaderboardWrap * {
    text-align: center;
}

#leaderboardWrap {
    overflow-y: scroll;
    flex-shrink: 0;
    height: 395px;
    padding: 10px;

    border: 6px solid;
}

#leaderboardWrap table {
    table-layout: auto;
    width: 100%;
}

#leaderboardWrap table tr td {
    text-align: center;

    border: 2px solid;
}


/* the classic minesweeper protrusion style */
#leaderboardWrap,
button {
    background-color: #c0c0c0;
    border-color: #FFFFFF #808080 #808080 #FFFFFF;
}

/* the classic minesweeper recessed style */
#leaderboardWrap table tr td {
    background-color: #c0c0c0;
    border-color: #808080 #FFFFFF #FFFFFF #808080;
}
